.item-top-container {
    display: flex;
    justify-content: space-between;
    height: 160px;
}

.item-top-left a {
    text-decoration: none;
    color: black;
}

.item-top-left a:hover {
    text-decoration: underline;
}

.item-top-left h1 {
    font-size: 40px;
    margin: 8px auto;
}

.item-top-left h5 {
    font-size: 16px;
    margin: 8px auto;
}

.item-top-right {
    display: flex;
    justify-content: flex-end;
    height: 320px;
}

.item-top-right span {
    margin: 16px 8px;
    height: 32px;
    
}

.item-top-right a {
    text-decoration: none;
    color: black;
}

.item-top-right a:hover {
    text-decoration: underline;
}

#add-icon:hover {
    color: blue;
}

#heart-icon:hover {
    color: red;
}

#share-icon:hover {
    color: orange
}